.nav {
  color: var(--dark);
  text-decoration: none;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  font-weight: 500;
}

.nav-bar {
  padding: 12px 0 56px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.nav-bar .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
    padding: 24px var(--padding-inline-lg) 56px var(--padding-inline-lg);
  }
}

.nav:hover, .nav-active {
  color: var(--primary);
}
