@import "./mixins";
@import "./keyframes";

.items {
    display: grid;
    grid-template-columns: 1fr;
    padding: 48px 24px 0 24px;
    gap: 12px;
    opacity: 0;
    animation: appear 500ms ease-out forwards;
    overflow: hidden;

    .item {
        @include primary-item;
    }
}
