@import "./mixins";

.nav {
    color: var(--dark);
    text-decoration: none;
    transition: 250ms ease-out;
    font-weight: 500;

    &-bar {
        padding: 12px 0 56px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        .navs {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        @include min-width(768) {
            flex-direction: row;
            gap: 32px;
            padding: 24px var(--padding-inline-lg) 56px var(--padding-inline-lg);
        }
    }

    &:hover,
    &-active {
        color: var(--primary);
    }
}
