@import "./keyframes";
@import "./mixins";

.center {
    text-align: center;
    margin: auto;
}

.form {
    &-container {
        padding: 5px var(--padding-inline);
        overflow-y: hidden;

        .error-message {
            color: var(--danger);
        }

        @include min-width(768) {
            padding: 5px var(--padding-inline-lg);
            margin: 0 auto;
            width: fit-content;
        }
    }

    &-button-container {
        text-align: center;

        @include min-width(768) {
            grid-column-end: span 2;
        }
    }
}

form {
    border-radius: 5%;
    text-align: left;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    opacity: 0;
    animation: slide-up 700ms ease-out forwards;

    button {
        width: 100%;
        margin-top: 12px;

        @include primary-btn;

        @include min-width(768) {
            width: fit-content;
        }
    }

    input {
        display: block;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid lightgray;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }

    input[type="radio"] {
        width: initial;
    }

    label {
        margin-bottom: 5px;
        display: block;
    }

    .radio {
        display: inline-flex;
    }

    .radio:not(:last-child) {
        margin-right: 5px;
    }

    .radio-input {
        display: flex;
        gap: 5px;
    }

    @include min-width(768) {
        width: 700px;
        border-radius: 5px;
        padding: 32px;
        box-shadow: 0 0 5px silver;
        grid-template-columns: repeat(2, 1fr);
    }
}
